body.admin-bar {
	.navbar-fixed-top {
		top: 28px;
	}
}

h2 {
	.Roboto-condensed-regular;
	font-size: 24px;
	letter-spacing: 4px;
	text-transform: uppercase;
}

/*..................................the buttons */
.btn {
	padding: 13px 10%;
	color: white;
	.Roboto-condensed-regular;
	text-transform: uppercase;
	border-radius: 0;

	&-teal {
		background-color: @brand-teal;

		&:hover {
			color: white;
			background-color: darken(@brand-teal, 5%);
		}
	}
}



/*..................................the news ticker */
.news-ticker {
	height: 60px;
	color: @brand-offWhite;
	font-size: 12px;
	line-height: 50px;
	background-color: @brand-blueDark;

	p {
		margin-bottom: 0;
	}

	span {
		padding-right: 5px;
		.Roboto-regular;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
}

/*..................................the navbar */
.navbar {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
}

.navbar-collapse {
	padding: 0;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.navbar-default {
	// background-color: @brand-purple;
	background-color: transparent;

	.navbar-nav {
		float: none;
		width: 786px;
		margin: 0 auto;

		& > .dropdown > a .caret {
			border-top-color: white;
			border-bottom-color: white;

			&:hover,
			&:active {
				border-top-color: white;
				border-bottom-color: white;
			}
		}

		& > li > a {
			color: white;
			.Roboto-light;
			font-size: 15px;
			letter-spacing: 3px;
			text-transform: uppercase;

			&:hover {
				color: white;
				text-decoration: underline;
			}

			@media (max-width: @screen-sm) {
				padding-left: 13px;
				padding-right: 13px;
			}
		}
	}
}

.navbar-header {
	width: 100%;
}

.navbar > .container .navbar-brand {
	margin: 35px auto;
}

.navbar-brand {
	float: none;
	display: block;
	width: 240px;
	height: 40px;
	background: no-repeat center center;
	.at2x('../img/logo.png', 240px, 40px);
}

/*..................................the jumbotron */
.jumbotron {
	position: relative;
	// height: 520px;
	// height: 680px;
	height: 550px;
	margin-top: -170px;
	margin-bottom: 0;
	padding: 0;
	color: white;
	background: #31B4A4 url(../img/Green-Girl.jpg) bottom center no-repeat;
	// background-color: @brand-teal;

	h1 {
		position: absolute;
		left: 0;
		right: 0;
		// bottom: -662px;
		bottom: -522px;
		.Roboto-slab-light;
		font-size: 30px;
		letter-spacing: 8px;
		text-align: center;
		text-transform: uppercase;

		span {
			display: block;
			.Roboto-condensed-bold;
			font-size: 80px;
			letter-spacing: 12px;
		}

		// @media (min-width: @screen-sm-max) and (max-width: @screen-md-max) {
		// 	font-size: 16px;

		// 	span {
		// 		font-size: 69px;
		// 	}
		// }


		@media (max-width: @screen-md-max) {
			font-size: 25px;

			span {
				font-size: 69px;
			}
		}

		@media (min-width: @screen-sm) and (max-width: @screen-md) {
			font-size: 16px;

			span {
				font-size: 47px;
			}
		}

		@media (min-width: 0) and (max-width: @screen-xs-max) {
			font-size: 16px;

			span {
				font-size: 47px;
			}
		}
	}
}

/*..................................the sections */
.section {
	padding: 90px 0;

	h2 {
		margin-top: 0;
		margin-bottom: 45px;
	}

	&-gray {
		background-color: @gray-lighter;
	}
}

.coa-first {
	p {
		margin-bottom: 55px;
		line-height: 2.5;
	}
}

/*..................................the boxes-one */
.boxes-one {
	padding-bottom: 0;

	&:last-child {
		padding-bottom: 90px;
	}

	@media (min-width: 0) and (max-width: @screen-sm-max) {
		margin-bottom: -30px;
	}
}

.box-one {
	@media (min-width: 0) and (max-width: @screen-sm-max) {
		margin-bottom: 30px;
	}
}

.box-one-inner {

	.box-one-img {
		background-color: @brand-teal;
		.transition(0.2s all ease);
	}

	.box-one-action {
		position: relative;
		img {
			opacity: 0.4;
		}

		.plus {
			position: absolute;
			top: 0;
			.square(100%);
			background: center center no-repeat;
			.at2x('../img/plus.png', 60px, 60px);
			.transition(0.2s all ease);
		}

		.arrow {
			position: absolute;
			top: 0;
			.square(100%);
			background: center center no-repeat;
			.at2x('../img/arrow.png', 60px, 50px);
			.transition(0.2s all ease);
		}
	}
	


	h3 {
		color: @brand-teal;
		.Roboto-slab-light;
		font-size: 16px;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 0;
		font-size: 12px;
	}

	a {
		display: block;
		padding: 20px;
		color: #3B3E3C;
		background-color: @gray-lighter;
		.transition(0.2s all ease);

		&:hover {
			background-color: darken(@gray-lighter, 5%);
			text-decoration: none;
			.transition(0.2s all ease);

			.box-one-action {
				.plus {
					.rotate(90deg);
					.transition(0.2s all ease);
				}

				.arrow {
					left: 10%;
					.transition(0.2s all ease);
				}
			}

			img {
				opacity: 0.4;
				.transition(0.2s all ease);
			}
		}
	}
}

/*..................................the newsletter signup */
.newsletter-signup {
	max-width: 600px;
	margin: 0 auto;
	padding: 40px 55px;
	background-color: white;

	label {
		margin-bottom: 20px;
	}

	input[type="email"] {
		width: 370px;
	}

	.btn {
		// float: left;
		margin-left: -4px;
		.Roboto-condensed-light;
		padding-left: 15px;
		padding-right: 15px;
		letter-spacing: 2px;
	}
}

/*..................................the forms */
.form-control {
	&:focus {
		border: 1px solid @brand-teal;
      // @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten(@brand-teal, 20%);
      .box-shadow(0 0px 0px rgba(0,0,0,0));
    }
  }
  label {
  	.Roboto-slab-regular;
  	font-size: 14px;
  }
  input[type="email"] {
  	height: 50px;
  	background-color: @gray-lighter;
  	border: none;
  	border-radius: 0;
  	.box-shadow(0 0px 0px rgba(0,0,0,0));
  }

  /*..................................the footer */
  footer {
  	height: 230px;
  	background-color: @brand-teal;
  }

  .social-media {
  	width: 244px;
  	height: 48px;
  	margin: 0 auto;
  	padding: 90px 0;
  }

  .network {
  	float: left;
  	.square(48px);
  	margin-right: 50px;
  	background-color: white;
  	border-radius: 50%;

  	a {
  		display: block;
  		.square(100%);
  	}

  	&:last-child {
  		margin-right: 0;
  	}

  	&.twitter {
  		background: center center no-repeat;
  		.at2x('../img/twitter.png', 50px, 50px);
  	}

  	&.facebook {
  		background: center center no-repeat;
  		.at2x('../img/facebook.png', 50px, 50px);
  	}

  	&.vimeo {
  		background: center center no-repeat;
  		.at2x('../img/vimeo.png', 50px, 50px);
  	}
  }