body {
	padding-top: 50px;
	padding-bottom: 20px;
}

body.admin-bar {
	.navbar-fixed-top {
		top: 28px;
	}
}

a.navbar-brand {
	width: 156px;
	height: 50px;
	background: url(../img/menu-logo-2.png) no-repeat center center;
}