.Roboto-regular {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.Roboto-light {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.Roboto-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.Roboto-slab-regular {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-style: normal;
}

.Roboto-slab-light {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-style: normal;
}

.Roboto-slab-bold {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-style: normal;
}

.Roboto-condensed-regular {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.Roboto-condensed-light {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.Roboto-condensed-bold {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-style: normal;
}

strong {
	.Roboto-slab-bold;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf') format('truetype'),
	url('../fonts/icomoon.woff') format('woff'),
	url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-paypal:before {
	content: "\e602";
}
.icon-credit:before {
	content: "\e603";
}
