.memberdeck {
  /* Clearfix - add .cf to any container that has floats inside it. */
  /* For modern browsers */
  /* For IE 6/7 (triggers hasLayout) */ }
  .memberdeck .powered-by {
    width: auto;
    text-align: center; }
  .memberdeck .md-box-wrapper {
    background-color: rgba(238, 238, 238, 0.35);
    color: #2a2a2a;
    border-color: #b7b7b7;
    font-size: 16px;
    border: 1px solid #b7b7b7;
    width: 98%;
    width: -webkit-calc(100% - 2px);
    width: -moz-calc(100% - 2px);
    width: calc(100% - 2px);
    padding: 0;
    margin: 0 auto;
    font-size: 0; }
  .memberdeck .instant-checkout-note {
    color: #3f597d;
    width: 75%;
    max-width: 650px;
    font-size: 24px;
    text-align: center;
    margin: 0 auto; }
  .memberdeck a {
    color: #3f597d;
    text-decoration: none;
    -webkit-transition: all 100ms ease 0;
    -moz-transition: all 100ms ease 0;
    -o-transition: all 100ms ease 0;
    transition: all 100ms ease 0; }
    .memberdeck a:hover {
      color: #1051ac;
      text-decoration: none; }
    .memberdeck a i {
      text-decoration: none !important; }
  .memberdeck .inline {
    display: inline-block; }
  .memberdeck h3.big {
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
    padding: 16px 0;
    color: black;
    margin: 0 auto; }
  .memberdeck .center {
    text-align: center; }
  .memberdeck ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .memberdeck span.license {
    margin: 0;
    cursor: pointer; }
  .memberdeck .license-display {
    margin: 0;
    position: absolute;
    right: 0;
    left: 0;
    word-break: break-all;
    bottom: 10px;
    margin: 0 auto;
    width: auto;
    max-width: 300px;
    height: auto;
    text-align: left;
    padding: 8px;
    font-size: 14.54545px;
    line-height: 14.54545px;
    display: none;
    background-color: #fff;
    cursor: text;
    z-index: 999;
    -webkit-transition: opacity 100ms ease;
    opacity: 0;
    border: 1px solid #aaa; }
  .memberdeck .license-display .key {
    margin-top: 10px;
    display: block;
    font-size: 13px; }
  .memberdeck .components span.license:hover .license-display {
    display: block;
    opacity: 1; }
  .memberdeck .md-box {
    margin: 0;
    padding: 0;
    vertical-align: top;
    position: relative; }
    .memberdeck .md-box.half {
      width: 50%;
      display: inline-block; }
      .memberdeck .md-box.half:nth-child(odd) {
        border-right: 1px solid #b7b7b7;
        margin-right: -1px; }
      .memberdeck .md-box.half:nth-child(even) {
        border-right: none;
        margin-right: -1px; }
      .memberdeck .md-box.half:nth-child(4n+3) {
        border-top: 1px solid #b7b7b7; }
      .memberdeck .md-box.half:nth-child(4n+4) {
        border-top: 1px solid #b7b7b7; }
    .memberdeck .md-box.full {
      width: 100%;
      display: inline-block;
      border-top: 1px solid #b7b7b7; }
      .memberdeck .md-box.full:first-child {
        border-top: none; }
    .memberdeck .md-box.half-tall {
      width: 50%;
      display: block;
      float: right; }
      .memberdeck .md-box.half-tall:nth-child(even) {
        border-left: 1px solid #b7b7b7;
        margin-right: -1px; }
      .memberdeck .md-box.half-tall:nth-child(odd) {
        border-right: none;
        margin-right: -1px; }
    .memberdeck .md-box li {
      list-style: none;
      position: relative;
      margin: 0; }
    .memberdeck .md-box li:hover {
      background-color: rgba(225, 225, 225, 0.3); }
    .memberdeck .md-box.hidden {
      display: none; }
    .memberdeck .md-box li.inactive:before {
      /* opacity: .2;
      width: 100%;
      height: 100%;
      position: absolute;
      cursor: pointer;
      background: $secondary-bg;
      z-index: 999;
      top: 0;
      left: 0;
      margin: 0 0 0 -$text-size;
      padding: 0;
      font-size: 0;
      content:""; */ }
    .memberdeck .md-box li.inactive {
      opacity: .4;
      cursor: pointer; }
    .memberdeck .md-box li.inactive:hover {
      opacity: 1; }
    .memberdeck .md-box li.inactive button i {
      display: none; }
  .memberdeck hr {
    height: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent; }
    .memberdeck hr.md-divider {
      height: 1px;
      width: 100%;
      margin: 40px auto 0 auto;
      padding: 0;
      border: none;
      background: #b7b7b7;
      clear: both; }
    .memberdeck hr.md-divider-hidden {
      height: 1px;
      width: 100%;
      margin: 0;
      padding: 0;
      border: none;
      border-bottom: none;
      background: transparent;
      clear: both; }
  .memberdeck button, .memberdeck input[type="submit"], .memberdeck form .form-row input[type="submit"], .memberdeck .button {
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 0 !important;
    font-weight: 400;
    font-size: 19px;
    color: white;
    padding: 16px 24px;
    margin: 8px auto;
    background: #3f597d;
    /* Old browsers */
    background: -moz-linear-gradient(top, #50719f 0%, #3f597d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #50719f), color-stop(100%, #3f597d));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #50719f 0%, #3f597d 100%);
    background: -o-linear-gradient(top, #50719f 0%, #3f597d 100%);
    background: -ms-linear-gradient(top, #50719f 0%, #3f597d 100%);
    background: linear-gradient(to bottom, #50719f 0%, #3f597d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF50719F', endColorstr='#FF3F597D',GradientType=0);
    -moz-box-shadow: 0 2px 4px 0 rgba(42, 42, 42, 0.3);
    -webkit-box-shadow: 0 2px 4px 0 rgba(42, 42, 42, 0.3);
    box-shadow: 0 2px 4px 0 rgba(42, 42, 42, 0.3);
    -webkit-transition: all 200ms ease 0;
    -moz-transition: all 200ms ease 0;
    -o-transition: all 200ms ease 0;
    transition: all 200ms ease 0;
    cursor: pointer;
    display: block; }
    .memberdeck button i, .memberdeck input[type="submit"] i, .memberdeck form .form-row input[type="submit"] i, .memberdeck .button i {
      float: none;
      font-size: 100%;
      width: auto; }
    .memberdeck button:hover, .memberdeck input[type="submit"]:hover, .memberdeck form .form-row input[type="submit"]:hover, .memberdeck .button:hover {
      background: #2c5690;
      /* Old browsers */
      background: -moz-linear-gradient(top, #396db7 0%, #2c5690 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #396db7), color-stop(100%, #2c5690));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #396db7 0%, #2c5690 100%);
      background: -o-linear-gradient(top, #396db7 0%, #2c5690 100%);
      background: -ms-linear-gradient(top, #396db7 0%, #2c5690 100%);
      background: linear-gradient(to bottom, #396db7 0%, #2c5690 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF396DB7', endColorstr='#FF2C5690',GradientType=0);
      color: white;
      -moz-box-shadow: 0 0 0 0 rgba(42, 42, 42, 0);
      -webkit-box-shadow: 0 0 0 0 rgba(42, 42, 42, 0);
      box-shadow: 0 0 0 0 rgba(42, 42, 42, 0); }
    .memberdeck button.invert, .memberdeck input[type="submit"].invert, .memberdeck form .form-row input[type="submit"].invert, .memberdeck .button.invert {
      background: #eeeeee;
      -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);
      color: #3f597d; }
    .memberdeck button.invert:hover, .memberdeck input[type="submit"].invert:hover, .memberdeck form .form-row input[type="submit"].invert:hover, .memberdeck .button.invert:hover {
      background: white;
      color: black;
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3); }
    .memberdeck button.large, .memberdeck input[type="submit"].large, .memberdeck form .form-row input[type="submit"].large, .memberdeck .button.large {
      font-size: 24px;
      padding: 10.66667px 32px; }
    .memberdeck button.mini, .memberdeck input[type="submit"].mini, .memberdeck form .form-row input[type="submit"].mini, .memberdeck .button.mini {
      font-size: 16px;
      padding: 8px 24px; }
    .memberdeck button.micro, .memberdeck input[type="submit"].micro, .memberdeck form .form-row input[type="submit"].micro, .memberdeck .button.micro {
      font-size: 13px;
      padding: 6px 24px; }
    .memberdeck button .md-icon-variable:before, .memberdeck input[type="submit"] .md-icon-variable:before, .memberdeck form .form-row input[type="submit"] .md-icon-variable:before, .memberdeck .button .md-icon-variable:before {
      content: "\f01a";
      font-family: FontAwesome;
      font-style: normal;
      margin-left: -5px;
      margin-right: 5px; }
  .memberdeck.cf:before, .memberdeck.cf:after {
    content: "";
    display: table; }
  .memberdeck.cf:after {
    clear: both; }
  .memberdeck.cf {
    *zoom: 1; }

/* Required Login Notification */
.md-requiredlogin {
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  .md-requiredlogin #loginform {
    background: transparent;
    border: none;
    margin: 0 auto 150px auto;
    box-shadow: none;
    width: 240px; }
  .md-requiredlogin #loginform p {
    margin-bottom: 10px; }
  .md-requiredlogin #loginform p.login-username label, .md-requiredlogin #loginform p.login-password label {
    color: #2a2a2a;
    font-size: 16px;
    line-height: 19.2px; }
  .md-requiredlogin #wp-submit {
    display: block;
    margin: 10px auto;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 0;
    font-weight: 400;
    font-size: 24px;
    color: white;
    padding: 10.66667px 32px;
    background: #3f597d;
    /* Old browsers */
    background: -moz-linear-gradient(top, #50719f 0%, #3f597d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #50719f), color-stop(100%, #3f597d));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #50719f 0%, #3f597d 100%);
    background: -o-linear-gradient(top, #50719f 0%, #3f597d 100%);
    background: -ms-linear-gradient(top, #50719f 0%, #3f597d 100%);
    background: linear-gradient(to bottom, #50719f 0%, #3f597d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF50719F', endColorstr='#FF3F597D',GradientType=0);
    -moz-box-shadow: 0 2px 4px 0 rgba(42, 42, 42, 0.3);
    -webkit-box-shadow: 0 2px 4px 0 rgba(42, 42, 42, 0.3);
    box-shadow: 0 2px 4px 0 rgba(42, 42, 42, 0.3);
    -webkit-transition: all 200ms ease 0;
    -moz-transition: all 200ms ease 0;
    -o-transition: all 200ms ease 0;
    transition: all 200ms ease 0;
    cursor: pointer; }
  .md-requiredlogin #wp-submit:hover {
    background: #2c5690;
    /* Old browsers */
    background: -moz-linear-gradient(top, #396db7 0%, #2c5690 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #396db7), color-stop(100%, #2c5690));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #396db7 0%, #2c5690 100%);
    background: -o-linear-gradient(top, #396db7 0%, #2c5690 100%);
    background: -ms-linear-gradient(top, #396db7 0%, #2c5690 100%);
    background: linear-gradient(to bottom, #396db7 0%, #2c5690 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF396DB7', endColorstr='#FF2C5690',GradientType=0);
    color: white;
    -moz-box-shadow: 0 0 0 0 rgba(42, 42, 42, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(42, 42, 42, 0);
    box-shadow: 0 0 0 0 rgba(42, 42, 42, 0); }
  .md-requiredlogin .login-remember {
    color: #2a2a2a;
    text-align: left;
    font-size: 13.33333px;
    margin-bottom: 10px; }
  .md-requiredlogin .md-requiredlogin.login form .forgetmenot label {
    font-size: 12px;
    line-height: 19px; }
  .md-requiredlogin #login {
    width: 320px;
    padding: 114px 0 0;
    margin: auto; }
  .md-requiredlogin #login_error, .md-requiredlogin .md-requiredlogin.login .message {
    margin: 0 0 16px 8px;
    padding: 12px; }
  .md-requiredlogin #nav, .md-requiredlogin #backtoblog {
    text-shadow: #fff 0 1px 0;
    margin: 0 0 0 16px;
    padding: 16px 16px 0; }
  .md-requiredlogin #backtoblog {
    padding: 12px 16px 0; }
  .md-requiredlogin form .input, .md-requiredlogin input[type="text"] {
    font-size: 19px;
    line-height: 21px;
    padding: 13px 0;
    color: #627fa7;
    display: block;
    border: 1px solid rgba(98, 127, 167, 0.7);
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    text-indent: 10px; }

.memberdeck .md-list-fat {
  font-size: 16px;
  list-style: none;
  margin: 0 0 0 2px;
  padding: 0; }
  .memberdeck .md-list-fat img {
    display: none; }
  .memberdeck .md-list-fat li {
    padding: 21px 16px;
    margin: 0;
    position: relative;
    -webkit-transition: all 200ms ease 0;
    -moz-transition: all 200ms ease 0;
    -o-transition: all 200ms ease 0;
    transition: all 200ms ease 0;
    cursor: default; }
  .memberdeck .md-list-fat li:before {
    content: "\f019";
    width: auto;
    font-family: FontAwesome; }
  .memberdeck .md-list-fat li a i {
    font-size: 16px;
    text-decoration: none !important; }
  .memberdeck .md-list-fat > li:nth-child(odd) {
    background-color: rgba(233, 233, 233, 0.5); }
  .memberdeck .md-list-fat > li:hover:nth-child(odd) {
    background-color: rgba(223, 223, 223, 0.5); }
  .memberdeck .md-list-fat > li.inactive:nth-child(odd) {
    background-color: #dfdfdf; }
  .memberdeck .md-list-fat li .components {
    position: absolute;
    display: block;
    right: 15px;
    text-align: right;
    top: 10px; }
  .memberdeck .md-list-fat .components span.info {
    margin: 0;
    position: absolute;
    left: -32px;
    bottom: 19px; }
  .memberdeck .md-list-fat .components span.documentation {
    margin: 0;
    position: absolute;
    left: -16px;
    bottom: 19px; }
  .memberdeck .md-list-fat .components span.license {
    margin: 0;
    position: absolute;
    left: -51px;
    bottom: 19px;
    cursor: pointer; }
  .memberdeck .md-list-fat .license-display {
    margin: 0;
    position: absolute;
    left: -90px;
    top: -21px;
    margin: 0 auto;
    width: 180px;
    height: 50px; }
  .memberdeck .md-list-fat li button {
    margin-left: 5px;
    line-height: 19px;
    min-width: 100px;
    padding: 8px;
    clear: both;
    font-size: 16px; }
  .memberdeck .md-list-fat li .updatedOn {
    font-size: 9px;
    line-height: 13px;
    margin: 0 6px 0 0;
    display: block;
    clear: right; }
  .memberdeck .md-list-fat li a i, .memberdeck .md-list-fat li .updatedOn {
    opacity: 0;
    -webkit-transition: all 300ms ease 0;
    -moz-transition: all 300ms ease 0;
    -o-transition: all 300ms ease 0;
    transition: all 300ms ease 0; }
  .memberdeck .md-list-fat li:hover a i, .memberdeck .md-list-fat li:hover .updatedOn {
    opacity: 1; }
.memberdeck .md-list-thin {
  font-size: 14px;
  list-style: none;
  margin: 0 0 0 2px;
  padding: 0; }
  .memberdeck .md-list-thin img {
    display: none; }
  .memberdeck .md-list-thin li {
    padding: 16px 16px;
    margin: 0;
    position: relative;
    -webkit-transition: all 200ms ease 0;
    -moz-transition: all 200ms ease 0;
    -o-transition: all 200ms ease 0;
    transition: all 200ms ease 0;
    cursor: default; }
  .memberdeck .md-list-thin li:before {
    content: "\f019";
    width: auto;
    font-family: FontAwesome; }
  .memberdeck .md-list-thin li a i {
    font-size: 16px; }
  .memberdeck .md-list-thin > li:nth-child(odd) {
    background-color: rgba(233, 233, 233, 0.5); }
  .memberdeck .md-list-thin > li:hover:nth-child(odd) {
    background-color: rgba(223, 223, 223, 0.5); }
  .memberdeck .md-list-thin > li.inactive:nth-child(odd) {
    background-color: #dfdfdf; }
  .memberdeck .md-list-thin li .components {
    position: absolute;
    display: block;
    right: 15px;
    text-align: right;
    top: 8px; }
  .memberdeck .md-list-thin .components span.info {
    margin: 0;
    position: absolute;
    left: -32px;
    bottom: 19px; }
  .memberdeck .md-list-thin .components span.documentation {
    margin: 0;
    position: absolute;
    left: -16px;
    bottom: 19px; }
  .memberdeck .md-list-thin .components span.license {
    margin: 0;
    position: absolute;
    left: -51px;
    bottom: 19px;
    cursor: pointer; }
  .memberdeck .md-list-thin .license-display {
    margin: 0;
    position: absolute;
    left: -90px;
    top: -19px;
    margin: 0 auto;
    width: 180px;
    height: 50px; }
  .memberdeck .md-list-thin li button {
    margin-left: 5px;
    line-height: 14px;
    min-width: 100px;
    padding: 8px;
    clear: both;
    font-size: 14px;
    padding: 8px 16px; }
  .memberdeck .md-list-thin li .updatedOn {
    font-size: 9px;
    line-height: 13px;
    margin: 0 6px 0 0;
    display: block;
    clear: right; }
  .memberdeck .md-list-thin li a i, .memberdeck .md-list-thin li .updatedOn {
    opacity: 0;
    -webkit-transition: all 300ms ease 0;
    -moz-transition: all 300ms ease 0;
    -o-transition: all 300ms ease 0;
    transition: all 300ms ease 0; }
  .memberdeck .md-list-thin li:hover a i, .memberdeck .md-list-thin li:hover .updatedOn {
    opacity: 1; }

.memberdeck .md-2columnThumb, .memberdeck .md-3columnThumb, .memberdeck .md-4columnThumb {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  border: none;
  font-size: 0; }
  .memberdeck .md-2columnThumb span.title, .memberdeck .md-3columnThumb span.title, .memberdeck .md-4columnThumb span.title {
    display: none; }
  .memberdeck .md-2columnThumb li, .memberdeck .md-3columnThumb li, .memberdeck .md-4columnThumb li {
    width: 50%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    list-style: none;
    vertical-align: top; }
  .memberdeck .md-2columnThumb li img, .memberdeck .md-3columnThumb li img, .memberdeck .md-4columnThumb li img {
    width: 100%;
    margin: 0;
    padding: 0; }
  .memberdeck .md-2columnThumb li a i, .memberdeck .md-3columnThumb li a i, .memberdeck .md-4columnThumb li a i {
    font-size: 16px;
    margin: 0 3px;
    text-decoration: none !important; }
  .memberdeck .md-2columnThumb li button, .memberdeck .md-3columnThumb li button, .memberdeck .md-4columnThumb li button {
    width: auto;
    min-width: 70%;
    max-width: 100%;
    margin: 5px auto;
    padding: 8px 15px;
    line-height: 21px;
    display: block;
    font-size: 16px; }
  .memberdeck .md-2columnThumb li button i, .memberdeck .md-3columnThumb li button i, .memberdeck .md-4columnThumb li button i {
    font-size: 16px;
    float: none;
    margin-right: 0;
    display: inline; }
  .memberdeck .md-2columnThumb li a i, .memberdeck .md-2columnThumb li .updatedOn, .memberdeck .md-3columnThumb li a i, .memberdeck .md-3columnThumb li .updatedOn, .memberdeck .md-4columnThumb li a i, .memberdeck .md-4columnThumb li .updatedOn {
    opacity: 0;
    -webkit-transition: all 200ms ease-out 0;
    -moz-transition: all 200ms ease-out 0;
    -o-transition: all 200ms ease-out 0;
    transition: all 200ms ease-out 0; }
  .memberdeck .md-2columnThumb li:hover a i, .memberdeck .md-2columnThumb li:hover .updatedOn, .memberdeck .md-3columnThumb li:hover a i, .memberdeck .md-3columnThumb li:hover .updatedOn, .memberdeck .md-4columnThumb li:hover a i, .memberdeck .md-4columnThumb li:hover .updatedOn {
    opacity: 1; }
  .memberdeck .md-2columnThumb .updatedOn, .memberdeck .md-3columnThumb .updatedOn, .memberdeck .md-4columnThumb .updatedOn {
    font-size: 11px; }
.memberdeck .md-3columnThumb li {
  width: 33.33%; }
.memberdeck .md-3columnThumb .updatedOn {
  font-size: 10px; }
.memberdeck .md-4columnThumb li {
  width: 25%; }
.memberdeck .md-4columnThumb .updatedOn {
  font-size: 10px; }
.memberdeck .md-2columnThumb.withname .title {
  display: block;
  font-size: 16px; }
.memberdeck .md-3columnThumb.withname .title {
  display: block;
  font-size: 13px; }
.memberdeck .md-4columnThumb.withname .title {
  display: block;
  font-size: 11px; }

.memberdeck .md-featured {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none; }
  .memberdeck .md-featured li {
    margin: 0;
    padding: 0; }
  .memberdeck .md-featured button {
    margin: 5px auto 5px auto;
    text-align: center;
    display: block; }
  .memberdeck .md-featured .title {
    display: none; }
  .memberdeck .md-featured img {
    margin: 10px 0 10px 0;
    width: 250px; }
  .memberdeck .md-featured li a i {
    margin: 0 3px;
    text-decoration: none !important; }
  .memberdeck .md-featured li a i, .memberdeck .md-featured li .updatedOn {
    opacity: 0;
    -webkit-transition: all 200ms ease-out 0;
    -moz-transition: all 200ms ease-out 0;
    -o-transition: all 200ms ease-out 0;
    transition: all 200ms ease-out 0;
    font-size: 16px; }
  .memberdeck .md-featured li:hover a i, .memberdeck .md-featured li:hover .updatedOn {
    opacity: 1; }
  .memberdeck .md-featured li .updatedOn {
    font-size: 13px; }

.memberdeck .md-dash-sidebar {
  font-size: 16px; }
  .memberdeck .md-dash-sidebar ul {
    margin: 16px;
    list-style: none; }
  .memberdeck .md-dash-sidebar ul li {
    margin: 0;
    list-style: none; }
  .memberdeck .md-dash-sidebar ul li:hover {
    background: none !important; }
  .memberdeck .md-dash-sidebar ul li ul li:hover {
    background: none !important; }
  .memberdeck .md-dash-sidebar ul li ul li:before {
    content: "\f105";
    font-family: FontAwesome;
    margin: 0 5px 0 -10px; }
  .memberdeck .md-dash-sidebar ul li ul li {
    margin: 10px 0 10px 10px;
    padding: 0 0 3px 0;
    font-size: 13px;
    line-height: 19px;
    font-weight: normal; }
  .memberdeck .md-dash-sidebar ul li ul li .post-date {
    font-size: 11px;
    color: rgba(80, 80, 80, 0.7);
    float: right;
    text-transform: uppercase; }
    .memberdeck .md-dash-sidebar ul li ul li .post-date:before {
      font-family: FontAwesome;
      content: "\f073";
      margin: 0 5px 0 10px; }
  .memberdeck .md-dash-sidebar ul li h3 {
    margin: 10px 0;
    color: black;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .memberdeck .md-dash-sidebar ul li.widget_nav_menu ul.menu {
    list-style: none;
    margin: 0;
    display: block;
    width: 100%; }
  .memberdeck .md-dash-sidebar ul li.widget_nav_menu ul.menu li {
    display: inline-block;
    list-style: none;
    margin: 0;
    margin-right: 5px;
    clear: left;
    font-size: 13px;
    line-height: 19px;
    font-weight: normal; }
  .memberdeck .md-dash-sidebar ul li.widget_nav_menu ul.menu li:before {
    display: none; }
  .memberdeck .md-dash-sidebar ul li.widget_nav_menu ul.menu li a {
    color: #3f597d;
    border-radius: 3px;
    background: #dfdfdf;
    padding: 5px 8px; }
  .memberdeck .md-dash-sidebar ul li.widget_nav_menu ul.menu li a:hover {
    color: #dfdfdf;
    background-color: #3f597d; }
  .memberdeck .md-dash-sidebar ul li.widget_nav_menu ul.menu li a:before {
    margin: 14px 8px 0 0;
    font-size: 110%; }
  .memberdeck .md-dash-sidebar ul li.widget_nav_menu ul.menu li.documentation a:before {
    content: "\f02d";
    font-family: FontAwesome; }
  .memberdeck .md-dash-sidebar ul li.widget_nav_menu ul.menu li.forums a:before {
    content: "\f075";
    font-family: FontAwesome; }
  .memberdeck .md-dash-sidebar ul li.widget_nav_menu ul.menu li.faq a:before {
    content: "\f059";
    font-family: FontAwesome; }

.memberdeck .md-profile {
  margin: 10px;
  font-size: 16px; }
  .memberdeck .md-profile .md-avatar {
    float: left;
    width: 96px; }
    .memberdeck .md-profile .md-avatar img {
      border-radius: 48px;
      overflow: hidden; }
  .memberdeck .md-profile .md-editprofile {
    margin: 0 0 0 108px;
    font-size: 11px;
    line-height: 16px; }
    .memberdeck .md-profile .md-editprofile a i {
      font-size: inherit; }
  .memberdeck .md-profile .md-fullname {
    margin: 0 0 0 108px;
    padding-top: 16px;
    font-size: 16px;
    line-height: 24px; }
  .memberdeck .md-profile .md-credits {
    margin: 0 0 0 108px;
    font-weight: 400;
    font-size: 19.2px;
    color: #434f60;
    line-height: 25.6px; }
  .memberdeck .md-profile .md-membership {
    margin: 0 0 0 108px;
    font-weight: 700;
    font-size: 32px;
    color: #434f60;
    line-height: 40px; }
  .memberdeck .md-profile .md-registered {
    margin: 0 0 0 108px;
    font-weight: 200;
    font-size: 13px;
    line-height: 24px;
    color: #434f60; }
  .memberdeck .md-profile li:hover {
    background-color: transparent; }

.memberdeck .dashboardmenu {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  background-color: #3f597d;
  border: 1px solid #b7b7b7;
  border-bottom: none; }
  .memberdeck .dashboardmenu li {
    margin: 0;
    padding: 1px 0 0 0;
    display: inline-block;
    height: 32px;
    line-height: 32px; }
  .memberdeck .dashboardmenu a {
    color: #eeeeee;
    padding: 8px 16px;
    margin: 0; }
  .memberdeck .dashboardmenu a:hover, .memberdeck .dashboardmenu .active a {
    color: #3f597d;
    padding: 8px 16px; }
  .memberdeck .dashboardmenu li:hover {
    background-color: #eeeeee; }
  .memberdeck .dashboardmenu .help {
    float: right; }

.memberdeck a.backbutton {
  display: block;
  width: 75%;
  max-width: 650px;
  margin: 0 auto;
  background: rgba(63, 89, 125, 0.1);
  text-align: left;
  padding: 10px 20px;
  text-decoration: none; }
.memberdeck a.backbutton:before {
  content: "\f0d9";
  font-family: FontAwesome;
  margin-right: 3px; }
.memberdeck a.backbutton:hover {
  background: rgba(63, 89, 125, 0.05); }
.memberdeck p.error, .memberdeck p.success {
  background-color: #fff;
  width: 99%;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  display: block; }
.memberdeck p.error {
  color: #D0011B;
  border: 1px solid #FF7372; }
.memberdeck p.success {
  color: #417505;
  border: 1px solid #7ED221; }
.memberdeck #payment-form {
  border-radius: 3px;
  background: rgba(238, 238, 238, 0.35);
  padding: 20px;
  width: 75%;
  max-width: 650px;
  margin: 10px auto;
  margin-bottom: 10px !important;
  position: relative;
  overflow: hidden; }
  .memberdeck #payment-form h2 {
    margin: 0; }
.memberdeck form a {
  color: #3f597d; }
.memberdeck form p {
  margin-left: 20px;
  margin-right: 20px; }
.memberdeck form #stripe-input:after {
  border-radius: 0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: #75B83A;
  padding: 5px 10px;
  height: 16px;
  width: 150px;
  font-size: 16px !important;
  line-height: 16px;
  position: absolute;
  content: 'SECURE';
  top: 25px;
  right: -50px;
  color: #fff;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg); }
.memberdeck form .checkout-header {
  font-size: 32px;
  text-align: center;
  margin: 0 0 20px 0;
  line-height: 48px;
  font-weight: 200; }
.memberdeck form .form-row {
  width: 99%;
  margin: 0 0 15px 0;
  vertical-align: top; }
.memberdeck form .form-row.half {
  width: 49.5%;
  display: inline-block; }
.memberdeck form .form-row.quarter {
  width: 24.5%;
  display: inline-block; }
.memberdeck form .form-row.third {
  width: 32.5%;
  display: inline-block; }
.memberdeck form .form-row.twothird {
  width: 65%;
  display: inline-block; }
.memberdeck form .form-row.date {
  width: auto;
  padding-left: 1%; }
.memberdeck form .form-row textarea.description {
  height: 182px; }
.memberdeck form .form-row.date input {
  width: auto;
  display: inline-block;
  padding-right: 5px; }
.memberdeck form .form-row label {
  color: #434f60;
  display: block;
  font: 0.66667;
  font-weight: 200;
  text-indent: 3px;
  vertical-align: text-bottom; }
.memberdeck form .form-row label span {
  float: right;
  margin-top: -8px; }
.memberdeck form .form-row input, .memberdeck form .form-row textarea {
  font-size: 19px;
  line-height: 21px;
  padding: 8px;
  height: inherit;
  color: #627fa7;
  display: block;
  border: 1px solid rgba(98, 127, 167, 0.7);
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }
.memberdeck form .finaldesc, .memberdeck form .finaldesc p {
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #2a2a2a;
  text-align: center;
  padding: 10px 20px; }
.memberdeck form .payment-errors {
  color: rgba(255, 255, 255, 0.92);
  text-align: center;
  width: auto;
  display: block;
  margin: 0 -20px 10px -20px;
  padding: 0;
  line-height: 40px;
  background-color: rgba(183, 14, 14, 0.77);
  font-weight: bold;
  font-size: 24px; }
  .memberdeck form .payment-errors a {
    color: #c0a682; }
.memberdeck form .cards img {
  height: 24px;
  width: 234px;
  margin: 0;
  padding: 0; }
.memberdeck form .payment-type-selector {
  text-align: center; }
.memberdeck form .payment-type-selector a {
  display: inline-block;
  padding: 5px 15px;
  padding-bottom: 48px;
  margin: 5px;
  border: 1px solid #3f597d;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  background: #235499;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(63, 89, 125, 0.8) 0%, #235499 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(63, 89, 125, 0.8)), color-stop(100%, #235499));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(63, 89, 125, 0.8) 0%, #235499 100%);
  background: -o-linear-gradient(top, rgba(63, 89, 125, 0.8) 0%, #235499 100%);
  background: -ms-linear-gradient(top, rgba(63, 89, 125, 0.8) 0%, #235499 100%);
  background: linear-gradient(to bottom, rgba(63, 89, 125, 0.8) 0%, #235499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC3F597D', endColorstr='#FF235499',GradientType=0);
  opacity: .6;
  -webkit-transition: all 500ms ease-out 0;
  -moz-transition: all 500ms ease-out 0;
  -o-transition: all 500ms ease-out 0;
  transition: all 500ms ease-out 0; }
.memberdeck form .payment-type-selector a:hover {
  border: 1px solid #3f597d;
  color: white;
  opacity: 1; }
.memberdeck form .payment-type-selector a.active {
  border: 1px solid #3f597d;
  color: white;
  opacity: 1; }
.memberdeck form .payment-type-selector a.active:hover {
  color: white;
  opacity: 1; }
.memberdeck form .payment-type-selector a#pay-with-paypal span {
  background-image: url("../images/paypal.png");
  background-position: center 30px;
  background-repeat: no-repeat;
  padding-bottom: 48px; }
.memberdeck form .payment-type-selector a#pay-with-stripe span, .memberdeck form .payment-type-selector a#pay-with-balanced span {
  background-image: url("../images/creditcards.png");
  background-position: center 30px;
  padding-bottom: 48px;
  background-repeat: no-repeat; }
.memberdeck form #stripe-input {
  margin-top: 20px; }
.memberdeck form .payment-settings {
  margin: -20px -20px 20px -20px;
  padding: 20px;
  background: rgba(238, 238, 238, 0.5); }

.memberdeck .buy-tooltip {
  width: auto;
  position: absolute;
  padding: 10px 20px;
  max-width: 200px;
  text-align: center;
  background: #3f597d;
  -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.25);
  z-index: 999;
  color: #eeeeee; }
  .memberdeck .buy-tooltip a {
    color: #eeeeee;
    text-decoration: none; }
  .memberdeck .buy-tooltip a:hover {
    color: white;
    text-decoration: underline; }
  .memberdeck .buy-tooltip .tt-title {
    font-size: 19px;
    line-height: 22px;
    padding: 5px 0 0 0;
    font-weight: 200;
    color: white; }
  .memberdeck .buy-tooltip .price {
    font-size: 16px;
    font-weight: 700; }
  .memberdeck .buy-tooltip .credits-avail {
    font-size: 11px;
    color: rgba(238, 238, 238, 0.7);
    margin-bottom: 5px; }
  .memberdeck .buy-tooltip .oneclick {
    font-size: 10px;
    line-height: 11px;
    display: block; }
  .memberdeck .buy-tooltip button {
    font-size: 12px;
    padding: 3px 10px;
    display: block;
    margin: 9px auto 9px auto;
    font-weight: 600; }
  .memberdeck .buy-tooltip .tt-footer {
    text-align: center;
    background-color: #2e415b;
    padding: 7px 0 7px 0;
    margin: 5px -20px -10px -20px;
    font-size: 12px; }
    .memberdeck .buy-tooltip .tt-footer a.tt-more:before {
      content: '\f05a \0000a0';
      font-family: FontAwesome;
      font-size: 90%; }
    .memberdeck .buy-tooltip .tt-footer a.tt-close {
      float: right;
      background: rgba(238, 238, 238, 0.8);
      margin: -7px 0;
      padding: 7px 5px;
      color: #c90000; }
    .memberdeck .buy-tooltip .tt-footer a.tt-close:before {
      content: '\f057 \0000a0';
      font-family: FontAwesome;
      font-size: 90%; }
.memberdeck .buy-tooltip:after {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 2px;
  content: "\25BC";
  font-size: 20px;
  line-height: 20px;
  color: #2e415b;
  margin-left: -10px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25); }

.memberdeck .md-profile li.myprojects {
  font-size: 0; }
.memberdeck .md-profile li.myprojects:nth-child(even) {
  background-color: rgba(233, 233, 233, 0.5); }
.memberdeck .md-profile .project-item {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0; }
.memberdeck .md-profile .project-thumb .image {
  background-size: 100% auto;
  background-position: center;
  width: 86px;
  height: 50px;
  display: block;
  margin: 0 auto; }
.memberdeck .md-profile .project-thumb {
  width: 15%;
  min-width: 86px;
  height: 50px;
  display: inline-block; }
.memberdeck .md-profile .project-name {
  width: 45%;
  font-size: 16px; }
.memberdeck .md-profile .option-list {
  width: 25%;
  font-size: 12px; }
  .memberdeck .md-profile .option-list a {
    padding: 3px; }
  .memberdeck .md-profile .option-list a:after {
    content: '\00a0\00a0|';
    color: #2a2a2a !important; }
  .memberdeck .md-profile .option-list a:last-of-type:after {
    content: ''; }
.memberdeck .md-profile .project-status {
  width: 15%;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 32px;
  text-align: center;
  background-color: rgba(42, 42, 42, 0.9);
  color: #eeeeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
